extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      include ../template/authentication-form
  .row
    .small-12.columns
      form#buyer-details(action='/overview', method='post')
        fieldset
          legend New Buyer Details
          .row
            mixin field(6, 'text', 'company', null, null, 'Company Name')
            mixin field(6, 'text', 'signatory', null, null, 'Signatory Name')
          .row
            mixin field(6, 'text', 'firstName', null, null, 'Contact First Name')
            mixin field(6, 'text', 'lastName', null, null, 'Contact Last Name')
          .row
            mixin field(5, 'text', 'address', null, null, 'Buyer Address')
            mixin field(3, 'text', 'city', null, null, 'City')
            .small-2.columns
              select(name='state')
                option(value='AL') Alabama
                option(value='AK') Alaska
                option(value='AZ') Arizona
                option(value='AR') Arkansas
                option(value='CA') California
                option(value='CO') Colorado
                option(value='CT') Connecticut
                option(value='DE') Delaware
                option(value='DC') Dist of Columbia
                option(value='FL') Florida
                option(value='GA') Georgia
                option(value='HI') Hawaii
                option(value='ID') Idaho
                option(value='IL') Illinois
                option(value='IN') Indiana
                option(value='IA') Iowa
                option(value='KS') Kansas
                option(value='KY') Kentucky
                option(value='LA') Louisiana
                option(value='ME') Maine
                option(value='MD') Maryland
                option(value='MA') Massachusetts
                option(value='MI') Michigan
                option(value='MN') Minnesota
                option(value='MS') Mississippi
                option(value='MO') Missouri
                option(value='MT') Montana
                option(value='NE') Nebraska
                option(value='NV') Nevada
                option(value='NH') New Hampshire
                option(value='NJ') New Jersey
                option(value='NM') New Mexico
                option(value='NY') New York
                option(value='NC') North Carolina
                option(value='ND') North Dakota
                option(value='OH') Ohio
                option(value='OK') Oklahoma
                option(value='OR') Oregon
                option(value='PA') Pennsylvania
                option(value='RI') Rhode Island
                option(value='SC') South Carolina
                option(value='SD') South Dakota
                option(value='TN') Tennessee
                option(value='TX') Texas
                option(value='UT') Utah
                option(value='VT') Vermont
                option(value='VA') Virginia
                option(value='WA') Washington
                option(value='WV') West Virginia
                option(value='WI') Wisconsin
                option(value='WY') Wyoming
            mixin field(2, 'text', 'zip', null, null, 'Zip')
          .row
            mixin field(4, 'text', 'phone', null, null, 'Contact Phone')
            mixin field(4, 'text', 'email', null, null, 'Contact Email')
            mixin field(4, 'text', 'password', null, null, 'Password')
          .row
            .small-2.small-offset-10.columns: button.radius.small.expand(type='submit') Save

