extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1.subheader rout.ly
  .row
    .small-2.columns
      a.button.tiny.expand(href="/") Home
    .small-2.columns
      a.button.tiny.expand(href="/newoffer") New Offer
    .small-10.columns