@base: gray;

body{
  background: @base url('../images/gray_bg.jpg');
  background-size: cover;
  h1{
    color: white;
  }
  h2{
    color: white;
    text-align: center;
  }
  p{
    color: white;
  }
}

form{
  margin-top: 70px;
}

#performance-info, #buyer-details, #inquiry-form{
  background: white url('../images/noise.png');
}

.button{
  background-color: maroon;
  border: 2px solid gray;
}

.button:hover{
  background-color: black;
}

p{
  color: gray;
}

p#terms{
  margin-left: 20px;
}

.left{
  margin-left: 20px;
}

.hidden{
  display: none;
}

#map-canvas{
  height: 260px;
  width: 550px;
  border: 10px solid gray;
}
