extends ../template/layout
include ../mixins/form-helper

block content
  #forms
    .row
      .small-12.columns
        include ../template/authentication-form
    .row
      .small-12.columns
        include inquiry-form








