form#inquiry-form(action='/inquiry', method='post')
  fieldset
    legend Inquiry Form
    .row
      .small-4.columns
        input(type='text', name='name', placeholder='Name')
      .small-4.columns
        input(type='text', name='organization', placeholder='Organization')
      .small-4.columns
        input(type='text', name='title', placeholder='Title/Postion')
    .row
      .small-8.columns
        input(type='text', name='address', placeholder='Address')
      .small-4.columns
    .row
      .small-6.columns
        input(type='text', name='city', placeholder='City')
      .small-2.columns
        select(name='state')
          option(value='AL') Alabama
          option(value='AK') Alaska
          option(value='AZ') Arizona
          option(value='AR') Arkansas
          option(value='CA') California
          option(value='CO') Colorado
          option(value='CT') Connecticut
          option(value='DE') Delaware
          option(value='DC') Dist of Columbia
          option(value='FL') Florida
          option(value='GA') Georgia
          option(value='HI') Hawaii
          option(value='ID') Idaho
          option(value='IL') Illinois
          option(value='IN') Indiana
          option(value='IA') Iowa
          option(value='KS') Kansas
          option(value='KY') Kentucky
          option(value='LA') Louisiana
          option(value='ME') Maine
          option(value='MD') Maryland
          option(value='MA') Massachusetts
          option(value='MI') Michigan
          option(value='MN') Minnesota
          option(value='MS') Mississippi
          option(value='MO') Missouri
          option(value='MT') Montana
          option(value='NE') Nebraska
          option(value='NV') Nevada
          option(value='NH') New Hampshire
          option(value='NJ') New Jersey
          option(value='NM') New Mexico
          option(value='NY') New York
          option(value='NC') North Carolina
          option(value='ND') North Dakota
          option(value='OH') Ohio
          option(value='OK') Oklahoma
          option(value='OR') Oregon
          option(value='PA') Pennsylvania
          option(value='RI') Rhode Island
          option(value='SC') South Carolina
          option(value='SD') South Dakota
          option(value='TN') Tennessee
          option(value='TX') Texas
          option(value='UT') Utah
          option(value='VT') Vermont
          option(value='VA') Virginia
          option(value='WA') Washington
          option(value='WV') West Virginia
          option(value='WI') Wisconsin
          option(value='WY') Wyoming
      .small-4.columns
        input(type='text', name='zip', placeholder='Zip Code')
    .row
      .small-2.columns
        input(type='text', name='capacity', placeholder='Seating Capacity')
      .small-2.columns
        input(type='text', name='officePhone', placeholder='Office Phone')
      .small-2.columns
        input(type='text', name='cellPhone', placeholder='Cell Phone')
      .small-6.columns
        input(type='text', name='email', placeholder='Email Address')
    .row
      .small-12.columns
        textarea#artists-of-interest(type='text', name='artistsOfInterest', placeholder='Artists of interest:')
    .row
      .small-12.columns
        textarea#promoter-history(type='text', name='promoterHistory', placeholder='Shows promoted in the past:')
    .row
      .small-12.columns
        textarea#approximate-budget(type='text', name='approximateBudget', placeholder='Approximate budget for show:')
    .row
      .small-12.columns
        textarea#additional-info(type='text', name='additionalInfo', placeholder='Message to Booking Agent:')
    .row
      .small-2.small-offset-10.columns: button.radius.small.expand(type='submit') Save


