extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      include ../home/authentication-form
  .row
    .small-6.columns
      h1.subheader rout.ly
    .small-6.columns
  .row
    .small-12.columns
      form#add-venue
        fieldset
          legend Add Venue
          .row
            mixin field(5, 'text', 'name', null, null, 'Venue Name', true)
            mixin field(7, 'text', 'address', null, null, 'Venue address')
          .row
            mixin field(5, 'text', 'city', null, null, 'City')
            mixin field(2, 'text', 'state', null, null, 'State')
            mixin field(5, 'text', 'zip', null, null, 'Zip')
          .row
            mixin field(4, 'text', 'officePhone', null, null, 'Office Phone')
            mixin field(4, 'text', 'cellPhone', null, null, 'Cell Phone')
            mixin field(4, 'text', 'email', null, null, 'Email Address')
          .row
          .row
            .small-2.small-offset-10.columns: button.radius.small.expand(type='submit') Save
