extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      include ../template/authentication-form
  .row
    .small-12.columns
      h3 Welcome to the Future of Music Booking.
  .row
    .small-12.columns
      p.homepage <strong>Rout.ly</strong> is a web application that creates an efficient interface between booking agents and talent buyers in order to automate repetitive tasks inherent to the booking process and pass savings on to artists and promoters.
      p.homepage New to <strong>Rout.ly</strong>? Sumbit an inquiry if you have questions, or create and account to get started.
  .row
    .small-12.columns
      ul(data-orbit)
        li
          img(src='./images/prince.jpg')
          .orbit-caption Prince and the Revolution
        li
          img(src='./images/rick.gif')
          .orbit-caption Rick James
        li
          img(src='./images/arcade-fire-bowie.png')
          .orbit-caption Arcade Fire featuring David Bowie