extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      include ../template/authentication-form
  .row
    .small-6.columns
      h1.subheader rout.ly
    .small-6.columns
  .row
    .small-12.columns
      h2 WELCOME!!!!!
  .row
    .small-12.columns
      p dsfjkllkjsdfjklsdkljfsjdflkjsdlfkjsdlkfjslkdjf sdlfjksdlfk sldkfj sdlfjsld fsdlkfj sldkfj sldfjsldkfj sldkfj sdlfkjsdl fsldkfj sdlfksdlf sldkjf sldfj sdflkjsdf lsdjflsdf jslkdfj sd.
  .row
    .small-6.columns
      a.button.expand(href='/inquiry') Submit Inquiry
    .small-6.columns
      a.button.expand(href='/createaccount') Create Account
