extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      include ../template/authentication-form
  #forms
    .row
      .small-12.columns
        include gen-info
