script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
link(rel='stylesheet', href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/javascripts/vendor/twix.min.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/utilities.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3fyxbe5LkY3-EkWdwHDFREhHWXK2i1hM&sensor=false");
script(src="/javascripts/app/app.js")
